<h2 class="dark:text-gray-100"><%= t("devise.confirmations.title") %></h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <p><%= f.label :email, class: "dark:text-gray-300" %></p>
    <p><%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "dark:bg-gray-700 dark:border-gray-600 dark:text-gray-200" %></p>
  </div>

  <div class="actions">
    <%= f.submit t("devise.confirmations.resend"), class: "dark:bg-indigo-500 cursor-pointer transition-colors" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
