<p><%= t("devise.mailer.hello") %><%= @resource.email %>!</p>

<p><%= t("devise.mailer.reset_password_body") %></p>

<p><%= link_to t("devise.mailer.change_password_link"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t("devise.mailer.reset_ignore") %></p>
<p><%= t("devise.mailer.reset_no_change") %></p>
